<div>
    <header>
        <h2>Todos</h2>
    </header>
    <!-- Pintamos una tabla para mostrar los posts -->
    <table class="table">
        <!-- Con la directiva ngRepeat iteramos sobre la colección
        de posts para pintar cada línea (post) de la tabla -->
        <tr ng-repeat="post in posts">
            <td>
                <!-- Con la directiva ngIf pintamos el elemento que la usa cuando su conftenido
                resuelve como "true". En caso contrario, el elemento no se pinta -->
                <img ng-src="{{post.image_url}}" ng-if="post.image_url" alt="Imagen" width="64" class="img-rounded" />
            </td>
            <td>{{ post.text }}</td>
            <td>{{ post.author }}</td>
            <td>Me gusta: {{ post.likes }}</td>
            <td>No me gusta: {{ post.dislikes }}</td>
        </tr>
    </table>
</div>