
<!-- Este artículo hace referencia a los detalles del post -->
<article class="detalle">
    <div>
        <img ng-src="{{ ::post.image_url }}=s250" alt="Imagen" width="250px" height="250px" class="img-rounded" />
    </div>
    <div>
        <h4>{{ ::post.text }}</h4>
        <small>{{ ::post.author | Firma:post.created }}</small>
        <votacion-post post="post"></votacion-post>
        <div>
            <button class="btn btn-info" ng-click="volver()">
                <i class="glyphicon glyphicon-chevron-left"></i>
                <span>Volver</span>
            </button>
        </div>
    </div>
</article>

<!-- Este div hace referencia a los comenterios del post -->
<div class="comentarios">
    <header>
        <h5>Comentarios</h5>
    </header>
    <!-- Formulario para añadir comentario -->
    <form class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="texto-comentario">Email address</label>
            <input type="text" class="form-control" id="texto-comentario" placeholder="Escribe tu comentario..." ng-model="comentario">
        </div>
        <button type="submit" class="btn btn-default" ng-click="enviarComentario()">Enviar</button>
    </form>
    <!-- Colección de comentarios -->
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="comentario in post.comments">
            <p>{{ ::comentario.text }}</p>
            <small> - {{ ::comentario.author | Firma:comentario.created }}</small>
        </li>
    </ul>
</div>
